<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Error</title>
</head>

<body>
    <div class="subTextoError">

        <div class="respUserError">
            <h2> Desculpe! Algo deu errado, não encontrei sua resposta para esta pergunta.</h2>
            <h2> Tente com 4 ou 5 palavras chaves na pergunta, assim tem mais probabilidade de acerto.</h2>
            <h2>Vê se realmente a pergunta está no contexto deste livro e tente novamente.</h2>

        </div>
    </div>
</body>

</html>