<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Resposta</title>
</head>

<body class="body">
    <div class="subTexto">
       
        <div class="respUser">
            <h1>Encontrei esta resposta, com base na sua pergunta.</h1>
    <p>“Vê V. Exa., Sr. presidente, que nesse tempo, o nobre deputado era inimigo de todas as leis
        opressoras. A assembléia tem visto como ele trata as leis do metro.”
        Todo o resto do discurso foi assim. A minoria protestou. Luís Tinoco fez-se de todas as cores, e a
        sessão acabou em risada. No dia seguinte os jornais amigos de Luís Tinoco agradeceram ao
        adversário deste o triunfo que lhe proporcionou mostrando à província “uma antiga e brilhante face do
        talento do ilustre deputado”. Os que indecorosamente riram dos versos, foram condenados com estas
        poucas linhas: “Há dias um deputado governista disse que a situação era uma caravana de homens
        honestos e bons. É caravana, não há dúvida; vimos ontem os seus camelos”.
        Nem por isso, Luís Tinoco ficou mais consolado. As cartas ao Dr. Lemos começaram a escassear, até
        que de todo cessaram de aparecer. Decorreram assim silenciosos uns três anos, ao cabo dos quais o
        Dr. Lemos foi nomeado não sei para que cargo na província onde se achava Luís Tinoco. Partiu.
        Apenas empossado do cargo, tratou de procurar o ex-poeta, e pouco tempo gastou recebendo logo um
        convite dele para ir a um estabelecimento rural onde se achava.
        – Há de me chamar ingrato, não? disse Luís Tinoco, apenas viu assomar à porta de casa o
        Dr. Lemos. Mas não sou; contava ir vê-lo daqui a um ano; e se lhe não escrevi... Mas que tem doutor?
        está espantado?
        O Dr. Lemos estava efetivamente pasmado a olhar para a figura de Luís Tinoco. Era aquele o poeta
        dos Goivos e Camélias, o eloqüente deputado, o fogoso publicista? O que ele tinha diante de si era um
        honrado e pacato lavrador, ar e maneiras rústicas, sem o menor vestígio das atitudes melancólicas do
        poeta, do gesto arrebatado do trbuno, - uma transformação, uma criatura muito outra e muito melhor.
        Riram-se ambos, um da mudança, outro do espanto, pedindo o Dr. Lemos a Luís Tinoco lhe dissesse
        se era certo haver deixado a política, ou se aquilo eram apenas umas férias para renovar a alma.
        – Tudo lhe explicarei, doutor, mas há de ser depois de ter examinado a minha casa e
        minha roça, depois de lhe apresentar minha mulher e meus filhos...</p>
            <p>{{ resposta }}</p>

           </div>
    </div>
</body>

</html>